@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container {
    scrollbar-width: none;
}
.scroll-container::-webkit-scrollbar {
    width: 8px;
    
}
.scroll-container::-webkit-scrollbar-thumb {
    background-color: green;
}
.scroll-container::-webkit-scrollbar-track {
    background-color: transparent;
}